.mobile-footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;

  &__buttons {
    border-top: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &__icon {
      
    }

    &__button {
      padding: 0 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:active {
        background-color: lightgray;
      }
    }
  }

  @media (min-width: 480px) {
    display: none;
  }
}

.about {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode:forwards;
  margin: 20px 0;

  &__quote {
    margin: 60px auto 90px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    width: 850px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 0 40px;
    margin-top: 30px;

    &__text {
      padding: 0 30px;
      white-space: pre-line;
    }

    &__text-header {
      margin: 20px 0 0;
    }

    &__image {
      margin: auto 0;
      width: 100%;
      border-radius: 4px;
    }
  }

  .left-column {
    border-right: 1px solid black;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}