.mobile-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;

  &__buttons {
    border-top: 1px solid black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}